body{
    font-family: "Inter", sans-serif;
}
.card{
    background-color: hsl(0, 0%, 12%);
    margin-right: 420px;
    text-align: center;
    margin-left: 420px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
}
.img{
    border-radius: 100%;
    width:100px ;
    height: 100px;
}
.name{
    color: hsl(0, 0%, 100%);
    font-weight: 400px;
    font-size: 28px;   
    margin-bottom: -10px;
}
.d1{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 13px;
    
}
.d2{
    color: rgb(215, 219, 219);
    font-size: 14px;
    margin-bottom: 20px;
}
a{
    margin: auto;
    width: 30px;
    background-color: hsl(0, 1%, 25%);
    text-decoration: none;
    line-height: 4.5;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    font-size: 14px;

}
.a1{
    padding: 15px 110px 15px 110px;
}
.a2{
    padding: 15px 68px 15px 68px;
}
.a3{
    padding: 15px 105px 15px 105px;
}
.a4{
    padding: 15px 110px 15px 110px;
}
.a5{
    padding: 15px 101px 15px 101px;}